body{
    background-image: url("img-1.jpg");
    background-repeat: no-repeat;
}
.menu {
    text-align: top left;
    margin-top: 0px;
    font-size: 23px;
    padding: 50px;
}
.title{
    text-align: center;
    background-color: yellow;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.head{
    color: white;
    text-align: center;
}
.name-field{
    background-color: wheat;
    text-align: center;
}
.mail-field{
    background-color: yellow;
    text-align: center;
}
.comment-field{
    background-color: wheat;
    block-size: 2cm;
    text-align: center;
}