body{
    background-image: url("img-1.jpg");
    background-repeat: no-repeat;
}
.menu {
    text-align: top left;
    margin-top: 0px;
    font-size: 23px;
    padding: 50px;
    border-radius: 40px;
}
.title{
    text-align: center;
    background-color: yellow;
}
a:hover{
    text-decoration: underline;
}
a{
    color: black;
    text-decoration: none;
}